@import url("https://fonts.googleapis.com/css?family=Anta");

:root {
  --bg-color: #131313;
  --fg-color: white;
  --acc-color: rgb(170, 0, 170);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--fg-color);
}
html {
  font-family: "Anta", sans-serif;
  font-size: 16px;
}
body {
  background-color: var(--bg-color);
  padding: 0px 4%;
}
span {
  color: var(--acc-color);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--bg-color);
  box-shadow: 0 0 2rem var(--bg-color);
}
.header .logo {
  font-size: 2rem;
}

.header .navigation {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  width: 510px;
  padding: 0 10px;

  a:hover {
    color: var(--acc-color);
    font-size: 1.1rem;
    text-decoration: underline solid 2px;
  }
}
/* Main sections */
.section {
  min-height: 100vh;
  /* border: 2px solid red; */
}
#home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .home-txt {
    padding-right: 20px;
    position: relative;
    top: -50px;
    h1 {
      font-size: 3rem;
    }
  }
  img {
    width: 500px;
    box-shadow: 0 0 1rem var(--acc-color);
    border-radius: 4px;
    position: relative;
    top: -40px;
  }
}
.socials {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
  margin: auto;
  padding-top: 40px;
}
.social-icons {
  font-size: 2rem;
  color: var(--acc-color);
}
.social-icons:hover {
  color: var(--fg-color);
  font-size: 2.1rem;
}
.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 40px;
  .btn {
    background-color: var(--acc-color);
    color: var(--fg-color);
    width: 200px;
    height: 40px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 0 1rem var(--acc-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn:hover {
    box-shadow: 0 0 0.6rem var(--acc-color);
    cursor: pointer;
  }
}
.section-top {
  padding-top: 100px;
}
#about {
  h2 {
    margin: 12px 0 4px 0;
  }
  .space {
    margin: 10px 0;
  }
}
/* Responsive design */
@media screen and (max-width: 1030px) {
  #home img {
    width: 350px;
  }
  .btn-wrapper .btn {
    width: 160px;
    height: 35px;
  }
}
/* Portfolio css */
.portfolio-wrapper {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 0.5%;
}
.portfolio-card {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  box-shadow: 0 0 0.6rem var(--acc-color);
  padding: 4px;
  border-radius: 8px;
  /* border: 2px solid green; */
  img {
    min-width: 250px;
  }
}
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-pnl {
  display: flex;
  flex-direction: column;
  /* box-shadow: 0 0 1rem var(--acc-color); */
  * {
    margin: 4px 0px;
  }
  input {
    width: 300px;
    height: 30px;
    border-radius: 8px;
    padding: 8px;
    border: 0px;
    color: black;
  }
  textarea {
    width: 300px;
    height: 100px;
    border-radius: 8px;
    padding: 8px;
    border: 0px;
    color: black;
  }
}
.send-btn {
  width: 300px;
  margin: 8px 0px;
  background-color: var(--acc-color);
  background-color: var(--acc-color);
  color: var(--fg-color);
  width: 300px;
  height: 40px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 1rem var(--acc-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.send-btn:hover {
  box-shadow: 0 0 0.6rem var(--acc-color);
  cursor: pointer;
}
footer {
  text-align: center;
}
